* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

.titulo{
    text-align: center;
}

.jugador{
    text-align: center;
}

.maquina{
    text-align: center;
}

.option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

img{
    width: 200px;
    height: 200px;
}

.battle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:aquamarine;
}

.vs{
    padding-left: 50px;
    padding-right: 50px;
}

.result{
    display: flex;
    align-items: center;
    justify-content: center;
}